{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="row row-top-buffer">
        <div class="col-xs-8 col-xs-offset-2">
            <form class="form-horizontal" action="/accounts/edit_profile/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in profile_form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <ul class="list-unstyled">
                                {% for error in field.errors %}
                                    <li class="persian text-danger">{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if field.name == 'avatar' %}
                            <div class="col-xs-9">
                                {{ field|add_class:"form-control-file" }}
                            </div>
                        {%else%}
                            <div class="col-xs-9 persian-light">
                                {{ field|add_class:"form-control" }}
                            </div>
                        {% endif %}
                        <div class="col-xs-3 persian">
                            {{ field.label_tag }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <input class="btn btn-default persian-light" type="submit" value="ویرایش" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
