{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {% if field.errors %}
              <ul>
                {% for error in field.errors %}
                  <li class="persian text-danger">{{ error|escape }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="col-xs-10 persian-light">
              {{ field|add_class:"form-control" }}
            </div>
            <div class="col-xs-2 persian">
              {{ field.label_tag }}
            </div>
          </div>
        {% endfor %}
        <div class="form-group">
          <button class="btn btn-default persian-light" type="submit">ورود</button>
        </div>
      </form>
      <a class="persian-light" href="{% url 'register' %}">حساب کاربری ندارید؟ همین الان بسازید</a>
    </div>
  </div>
{% endblock %}
