{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<div class="row row-top-buffer">
    <div class="col-xs-8 col-xs-offset-2">
        {% if user_block %}
            <div class="alert alert-danger" role="alert">
                <h1 class="persian text-center">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                    {% trans "You are blocked" %}
                </h1>
                <div class="row persian-light">
                    <div class="col-xs-9">
                        {% if user_block.unlimited %}{% trans "Unlimited" %}{% else %}
                        {{ user_block.till_date_string }} {%endif%}
                    </div>
                    <div class="col-xs-3">
                        {% trans "Unblock time:" %}
                    </div>
                </div>
                <div class="row persian-light">
                    <div class="col-xs-9">
                        {{ user_block.reason }}
                    </div>
                    <div class="col-xs-3">
                        {% trans "Block reason:" %}
                    </div>
                </div>
            </div>
            <div class="row row-top-buffer"></div>
        {% endif %}
        <div class="row">
            <div class="col-xs-8">
                <img src="{{MEDIA_URL}}{{profile.get_avatar_200x200}}" height="200" width="200">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="persian text-center">{% if profile.nickname %}{{ profile.nickname }}{% else %} --- {%endif%}</h2>
            </div>
        </div>
        <div class="row-top-buffer"></div>  <!-- adding top buffer in all cases -->
        {% if request.user == profile.user  or request.user.is_superuser %}
                <div class="row">
                    <div class="col-xs-8">
                        <p class="persian-light">{% if profile.name %}{{ profile.name }}{% else %} --- {%endif%}</p>
                    </div>
                    <div class="col-xs-4 persian-light">
                        <span class="glyphicon glyphicon-user"></span>
                            نام اصلی:
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <p class="persian-light">{{ profile.user.username }}</p>
                    </div>
                    <div class="col-xs-4 persian-light">
                        <span class="glyphicon glyphicon-envelope"></span>
                        ایمیل:
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <p class="persian-light">{% if profile.phone %}{{ profile.phone }}{%else%} --- {%endif%}</p>
                    </div>
                    <div class="col-xs-4 persian-light">
                        <span class="glyphicon glyphicon-earphone"></span>
                        تلفن:
                    </div>
                </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-8">
                <p class="persian-light">{% if profile.city %}{{ profile.city }}{%else%} --- {%endif%}</p>
            </div>
            <div class="col-xs-4 persian-light">
                <span class="glyphicon glyphicon-globe"></span>
                شهر:
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <p class="persian-light">{% if profile.country %}{{ profile.country }}{%else%} --- {%endif%}</p>
            </div>
            <div class="col-xs-4 persian-light">
                <span class="glyphicon glyphicon-globe"></span>
                کشور:
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <p class="persian-light">{% if profile.university %}{{ profile.university }}{%else%} --- {%endif%}</p>
            </div>
            <div class="col-xs-4 persian-light">
                <span class="glyphicon glyphicon-book"></span>
                دانشگاه:
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <p class="persian-light">{% if profile.university_field %}{{ profile.university_field }}{%else%} --- {%endif%}</p>
            </div>
            <div class="col-xs-4 persian-light">
                <span class="glyphicon glyphicon-book"></span>
                رشته:
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <p class="persian-light">{% if profile.student_number %}{{ profile.student_number }}{%else%} --- {%endif%}</p>
            </div>
            <div class="col-xs-4 persian-light">
                <span class="glyphicon glyphicon-book"></span>
                شماره دانشجویی:
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <p class="persian-light">{% if profile.current_work_place %}{{ profile.current_work_place }}{%else%} --- {%endif%}</p>
            </div>
            <div class="col-xs-4 persian-light">
                <span class="glyphicon glyphicon-briefcase"></span>
                محل کار:
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <p class="persian-light">{{ profile.stars }}</p>
            </div>
            <div class="col-xs-4 persian-light">
                <span class="glyphicon glyphicon-heart"></span>
                امتیاز:
            </div>
        </div>
        {% if request.user == profile.user %}
            <div class="row">
                <div class="col-xs-8">
                    <a href="/accounts/edit_profile/" class="btn btn-default persian-light" role="button">ویرایش پروفایل</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% if request.user.is_superuser %}
    <hr><br>
    <h2 class="persian-light text-center">
    تاریخچه‌ی تخلفات:
    </h2>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr class="persian">
                    <td>{% trans "Unblock time:" %}</td>
                    <td>{% trans "Block reason:" %}</td>
                </tr>
            </thead>
            <tbody>
                {% for b in block_history %}
                <tr class="persian-light">
                    <td>{% if b.unlimited %}{% trans "Unlimited" %}{% else %}{{ b.till_date_string }}{%endif%}</td>
                    <td>{{ b.reason }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h2 class="persian-light text-center">
        اضافه کردن تخلف:
    </h2>
    <div class="row">
        <form class="form-horizontal" method="post" action="{% url 'block_user' user_id=profile.user.id %}">
            {% csrf_token %}
            {% for field in block_user_form %}
                <div class="form-group">
                {% if field.errors %}
                  <ul class="list-unstyled">
                    {% for error in field.errors %}
                      <li class="persian text-danger">{{ error|escape }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <div class="col-xs-10 persian-light">
                  {{ field|add_class:"form-control" }}
                </div>
                <div class="col-xs-2 persian">
                  {{ field.label_tag }}
                </div>
              </div>
            {% endfor %}
            <div class="col-xs-10 persian-light">
                <div class="form-group">
                    <button class="btn btn-default persian-light" type="submit">بلاک کاربر</button>
                </div>
            </div>
            <div class="col-xs-2"></div>  <!-- because offset isn't rtl -->
        </form>
    </div>
{% endif %}
{% endblock %}
