{% extends "base_email.html" %}{% load i18n %}

{% block header_content %}
    <div>
        {% trans "Shahnay &mdash; Activating account" %}
    </div>
{% endblock %}

{% block message %}

<p>{% trans "Hi," %}</p>
<p>{% trans "To activate your account on Shahnay, please click on the following link:" %}</p>

<quote>
    <a href="http://shahnay.ir{% url 'email_verify' verification_key %}">
        http://shahnay.ir{% url 'email_verify' verification_key %}
    </a>
</quote>

<p>{% blocktrans %}The link above will expire in {{ expiration_days }} days.{% endblocktrans %}</p>
{% endblock %}
