.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

@font-face {
    font-family: "iransans";
    src: url("../fonts/IRANSans-web.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "iransans-light";
    src: url("../fonts/IRANSans-Light-web.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "iransans-bold";
    src: url("../fonts/IRANSans-Bold-web.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

.persian {
    font-family: 'iransans';
}

.persian-light {
    font-family: 'iransans-light';
}

.persian-bold {
    font-family: 'iransans-bold';
}

.persian::placeholder {
    font-family: 'iransans';
}

.persian-light::placeholder {
    font-family: 'iransans-light';
}

.persian-bold::placeholder {
    font-family: 'iransans-bold';
}

.row-top-buffer {
    margin-top: 20px;
}

.parallex {
	background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../img/parallex.png');
    height: 768px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
}

.parallex-text {
    position: absolute;
    top: 346px;
    right: 15%;
    color: white;
    font-size: 72px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;  /* navbar height */
  margin-bottom: 100px;  /* footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;  /* footer height */
  background-color: #222;
  color: #eee;
}

.footer-link {
    color: #eee;
    text-decoration: none;
}

.footer-link:hover {
    color: #eee;
    text-decoration: none;
}

.footer-link:visited {
    color: #eee;
    text-decoration: none;
}

.question-button-do {
    color: lightgray;
    text-decoration: none;
}

.question-button-do:hover {
    color: lightgray;
    text-decoration: none;
}

.question-button-do:visited {
    color: lightgray;
    text-decoration: none;
}

.question-button-undo {
    color: gray;
    text-decoration: none;
}

.question-button-undo:hover {
    color: gray;
    text-decoration: none;
}

.question-button-undo:visited {
    color: gray;
    text-decoration: none;
}
