.navbar-default {
    background-color: #80CBC4;
    border-color: #80CBC4;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

@font-face {
    font-family: "iransans";
    src: url("../fonts/IRANSans-web.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "iransans-light";
    src: url("../fonts/IRANSans-Light-web.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "iransans-bold";
    src: url("../fonts/IRANSans-Bold-web.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

.persian {
    font-family: 'iransans';
}

.persian-light {
    font-family: 'iransans-light';
}

.persian-bold {
    font-family: 'iransans-bold';
}

.persian::placeholder {
    font-family: 'iransans';
}

.persian-light::placeholder {
    font-family: 'iransans-light';
}

.persian-bold::placeholder {
    font-family: 'iransans-bold';
}

.row-top-buffer {
    margin-top: 20px;
}

.parallex {
	background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url('../img/parallex.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
}

.navbar {
    margin-bottom: 0;
}

.parallex-text {
    color: white;
    font-size: 64px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;  /* navbar height */
  margin-bottom: 100px;  /* footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;  /* footer height */
  background-color: #EF9A9A;
  color: #E53935;
}

.footer-link {
    color: #E53935;
    text-decoration: none;
}

.footer-link:hover {
    color: #E53935;
    text-decoration: none;
}

.footer-link:visited {
    color: #E53935;
    text-decoration: none;
}

.question-button-do {
    color: lightgray;
    text-decoration: none;
}

.question-button-do:hover {
    color: lightgray;
    text-decoration: none;
}

.question-button-do:visited {
    color: lightgray;
    text-decoration: none;
}

.question-button-undo {
    color: gray;
    text-decoration: none;
}

.question-button-undo:hover {
    color: gray;
    text-decoration: none;
}

.question-button-undo:visited {
    color: gray;
    text-decoration: none;
}

.profile-completion-percentage {
    color: #00695C;
}

.about-us {
  line-height: 30px;
}

.gold {
    color: #D4AF37;
}

.silver {
    color: #C0C0C0;
}

.bronze {
    color: #CD7F32;
}

.sponsor-img {
    width: 229px;
}
