{% extends "base.html" %}
{% load static %}
{% load forum_extras %}

{% block content %}
        <div class="row row-top-buffer">
            <div class="col-xs-12 text-center">
                <h4 class="persian-light">
                    <span class="persian-light"></span>
                    <span class="persian">
                        سرفصلهای اصلی سایت شهنا شامل این موارد خواهد بود: <br/> <br/>
                        1- تالار پرسش و پاسخ <br/> <br/>
                        2- پروفایل اعضای حقیقی (تحصیلات، رزومه کاری و ...) <br/> <br/>
                        3- پروفایل اعضای حقوقی (شرح فعالیت، رزومه پروژه‌های قبلی و ...) <br/> <br/>
                        5- تالار خاطرات (دوران دانشجویی، سربازی و اشتغال به کار) <br/> <br/>
                        6- تالار نقد کتاب (دارای قابلیت نوشتن متن نقد + درج طرح روی جلد کتاب + لینک دسترسی به کتاب چه دانلود و چه خرید از فروشگاه) <br/> <br/>
                        7- بازارچه (اعلام فروش و اجاره کارخانه، سوله، تجهیزات، ماشین‌آلات و مواد صنعتی) <br/> <br/>
                        8- استخدام، کارآموزی و کارورزی (درج فرصتهای شغلی موجود) <br/> <br/>
                        9- کاریابی، آماده به کار  (اعلام آمادگی برای استخدام شدن) <br/> <br/>
                        10- بورس ایده (فرم درخواست همکاری 👆) <br/> <br/>
                    </span>
                </h4>
            </div>
        </div>

{% endblock %}
