{% extends "base.html" %}
{% load static %}
{% load forum_extras %}

{% block content %}
        <div class="row row-top-buffer">
            <div class="col-xs-12">
                <h3 class="persian text-center about-us">
سرفصلهای اصلی سایت شهنا شامل این موارد است:
                </h3>
                <div class="persian-light text-right">
                    <h4 class="about-us">
                        ۱- تالار پرسش و پاسخ
                    </h4>
                    <h4 class="about-us">
                        ۲- پروفایل اعضای حقیقی (تحصیلات، رزومه کاری و ...)
                    </h4>
                    <h4 class="about-us">
                        ۳- پروفایل اعضای حقوقی (شرح فعالیت، رزومه پروژه‌های قبلی و ...)
                    </h4>
                    <h4 class="about-us">
                        ۴- تالار خاطرات (دوران دانشجویی، سربازی و اشتغال به کار)
                    </h4>
                    <h4 class="about-us">
                        ۵- تالار نقد کتاب (دارای قابلیت نوشتن متن نقد + درج طرح روی جلد کتاب + لینک دسترسی به کتاب چه دانلود و چه خرید از فروشگاه)
                    </h4>
                    <h4 class="about-us">
                        ۶- بازارچه (اعلام فروش و اجاره کارخانه، سوله، تجهیزات، ماشین‌آلات و مواد صنعتی)
                    </h4>
                    <h4 class="about-us">
                        ۷- استخدام، کارآموزی و کارورزی (درج فرصتهای شغلی موجود)
                    </h4>
                    <h4 class="about-us">
                        ۸- کاریابی، آماده به کار (اعلام آمادگی برای استخدام شدن)
                    </h4>
                    <h4 class="about-us">
                        ۹- بورس ایده (فرم درخواست همکاری)
                    </h4>
                </div>
            </div>
        </div>
{% endblock %}
