{% extends "base.html" %}
{% load static %}
{% load forum_extras %}

{% block full-width-image %}
    {% if show_parallex %}
    <div class="parallex text-center">
        <span class="parallex-text persian">شبکه هم‌افزایی نخبگان ایرانی</span>
    </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row row-top-buffer">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده مهندسی برق</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/charity-mechanics/">
                            <h4 class="persian">دانشکده مهندسی مکانیک</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده مهندسی عمران</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده مهندسی کامپیوتر</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده مهندسی مواد</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده مهندسی هوافضا</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده مهندسی صنایع</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده مهندسی شیمی</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده شیمی</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده فیزیک</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده ریاضی</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="persian">دانشکده اقتصاد و مدیریت</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
