{% extends "base.html" %}
{% load static %}
{% load forum_extras %}

{% block content %}
        <div class="row row-top-buffer">
            <div class="col-xs-12 text-right persian">
                <h1>کمک به توسعه فضاهای آموزشی</h1><br>
                <p style="line-height:180%; text-align:justify;">
                فارغ‌التحصیلان عزیز دانشکده مهندسی مکانیک دانشگاه صنعتی شریف
                به طور حتم، همه شما در طول زندگی بارها کمکهای مالی فراوانی به خیریه‌های مختلف، افراد مستمند و کم‌بضاعت نموده‌اید و یا در تأسیس و تجهیز مدارس، مساجد و بیمارستانهای مختلفی همکاری و مساعدت داشته‌اید. همه این امور، قطعاً موجب خشنودی خداوند و دستگیری شما در گذرگاههای پر پیچ و خم زندگی این دنیا و آن دنیا خواهند بود. در اینجا بنده به نمایندگی از تمامی دانشجویان دانشکده در گذشته، حال و آینده که از نخبه‌ترین دانشجویان و از گرانبهاترین سرمایه‌های میهن
                عزیزمان ایران هستند و شما فارغ‌التحصیل گرامی که خود زمانی جزئی از این گنج‌های سرزمین ایران بوده و هستید، می‌خواهم خودم و شما را دعوت کنم به امر خیری که به طور حتم شرکت در آن اثری خواهد داشت که سالیان سال در زندگانی ما، فرزندانمان، نسل‌های آینده ما و در نتیجه سالیان متمادی بعد از مرگ ما برای همه ما باقیات الصالحات خواهد داشت. این امر خیر، چیزی نیست جز مشارکت و همکاری در تأمین تجهیزات آزمایشگاهی و فضاهای آموزشی دانشکده مهندسی مکانیک دانشگاه صنعتی شریف که
                به طور حتم، همه ما اولاً بخشی از بهترین سالهای زندگی‌مان را در آن سپری کرده‌ایم و خاطرات خوش زیادی را از آن در دل و ذهنمان داریم و ثانیاً بخشی از موفقیت‌های زندگی‌مان مدیون آموزشها و تجربیات گرانبهایی است که در آن به‌دست آورده‌ایم. <br>
                دوستان گرامی، به خواست خدا و با حمایت شما و با برنامه‌ریزی‌های کمیته فارغ‌التحصیلان و دوستان اعضای هیئت علمی دانشکده، می‌خواهیم بخشی از نیازمندی‌های دانشکده در خصوص تجهیزات آزمایشگاهی و توسعه و تجهیز فضاهای آموزشی را از طریق این وبسایت به اطلاع همه دوستان فارغ‌التحصیل رسانده، برای تأمین آن دست مددجویی‌مان را به سمت شما پیش بیاوریم. کمکهای شما عزیزان، حتی با مبالغی بسیار کمتر از مبلغ مورد نیاز برای تأمین تجهیزات یا توسعه
                فضای مورد نیاز آموزشی، زمانی که در کنار هم قرار می‌گیرد، کار را بسیار سریع و آسان می‌کند. به طور حتم، مبالغی که در این مسیر به‌دست شما هزینه می‌شود و طبیعتاً در رشد و آموزش بهترین جوانان این مرز و بوم به کار گرفته می‌شود مستقیماً در توسعه و پیشرفت ایران عزیزمان اثر خواهد داشت و قطعاً نه‌تنها خیری کمتر از سایر نذورات و کمکهای مالی که شما در مسیرهای دیگر هزینه کرده و می‌کنید ندارد، بلکه به اعتقاد این حقیر، بسیار مؤثرتر و پربرکت‌تر
                از سایر امور خیریه، ظاهر خواهد شد. <br>
                بسیاری از تجهیزات آموزشی و پژوهشی دانشکده متأسفانه قدیمی، از کار افتاده و کم‌بازده هستند؛ حتی بسیاری از تجهیزات جدید آزمایشگاههای تحقیقاتی و آموزشی در دانشکده اساساً وجود ندارند و از طرفی بسیاری از آزمایشگاهها، سالنهای کنفرانس و کلاسها نیازمند بازسازی، ایمن‌سازی و نوسازی است. از طرفی دانشگاه در حال ساخت یک ساختمان جدید برای توسعه زیرساختهای دانشکده مهندسی مکانیک است که در تأمین منابع مالی آن با مشکلات عدیده‌ای روبه‌روست. همه این امور با بودجه‌های
                بسیار کم دولتی که در مقایسه با کشورهای منطقه و کشورهای پیشرفته دنیا بسیار ناچیز است، به کندی پیش می‌رود. در کشورهای پیشرفته دنیا، وقف‌های آموزشی، دانشگاهی و علمی به‌دست خیرین، واقفان علمی و فارغ‌التحصیلان به صورت یک فرهنگ درآمده است، ولی متأسفانه در کشور ما، خیریه و موقوفات و کمکهای انسان‌دوستانه در این مسیرها بسیار اندک است و این مشکل، فرهنگ‌سازی مشارکت و حمایت شما عزیزان را می‌طلبد. در این راستا و برای جلب کمکهای خیرخواهانه شما عزیزان و
                جهتدار کردن این حمایتها، نیازهای دانشکده کاملاً مشخص و به طور منظم از طریق این وبسایت به اطلاع رسانده خواهد شد و شماره حسابی از سوی کمیته فارغ‌التحصیلان برای این منظور معرفی می‌شود. سپس برای اطمینان‌بخشی به طور منظم، گزارشهای مالی از حمایتهای جلب شده و هزینه‌های صورت گرفته از طریق این وبسایت به اطلاع همه دوستان رسانده خواهد شد. <br>
                با آرزوی رشد و توسعه همه‌جانبه و سریع ایران عزیزمان<br>
                حسن سالاریه<br>
                رئیس دانشکده مهندسی مکانیک دانشگاه صنعتی شریف
                </p>

                <hr />
                <h2>نمونه‌های انجام گرفته:<h3>
            </div>
            <div class="col-xs-12 text-right persian">
                <h4 style="line-height:180%;">
                    بازسازی سالن سمینار دانشکده مهندسی مکانیک:<br>
                    به وضعیت کف و سقف سالن رسیدگی شد، مبلمان و روشنایی سالن تعویض و بازسازی شد و همچنین کل سالن مورد نقاشی قرار گرفت.
                    اتاق سمینار دانشکده مهندسی مکانیک در پاییز سال 1385 با تلاش و همت آقای مهندس علیرضا حمزه‌لو فارغ‌التحصیل سرافراز دوره سوم دانشکده، بازسازی شد.
                </h4>

            </div>
            <div class="col-xs-12 text-center persian">
                <img class="charity-img" src="{% static "img/charity/mechanics1.jpg" %}" />
                <img class="charity-img" src="{% static "img/charity/mechanics2.jpg" %}" />
                <hr />
            </div>
            <div class="col-xs-12 text-right persian">
                <h4 style="line-height:180%;">
                    بازسازی سایت کامپیوتر دانشکده مهندسی مکانیک:<br>
                    کفپوش، سقف و مبلمان سایت دانشکده بازسازی شد.
                    با تلاش فارغ‌التحصیلان سرافراز دانشگاه، در شرکت پر افتخار فراب با مدیریت آقای مهندس حاج‌رسولیها سایت کامپیوتر دانشکده مهندسی مکانیک در تابستان سال 1386 بازسازی شد.
                </h4>
            </div>
            <div class="col-xs-12 text-center persian">
                <img class="charity-img" src="{% static "img/charity/mechanics3.jpg" %}" /><br>
                <img class="charity-img" src="{% static "img/charity/mechanics4.jpg" %}" />
                <img class="charity-img" src="{% static "img/charity/mechanics5.jpg" %}" />
           </div>
        </div>
        <div class="row row-top-buffer"></div>
{% endblock %}
