{% extends "base.html" %}
{% load static %}
{% block full-width-image %}
<div class="parallex">
    <span class="parallex-text persian">شبکه هم‌افزایی نخبگان ایرانی</span>
</div>
{% endblock %}
{% block content %}
    <div class="row row-top-buffer">
        <div class="col-xs-12">
            <div class="input-group" dir="ltr"> <!-- changed default dir to get bootstrap's button addons working! -->
                <span class="input-group-btn" dir="rtl">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <input type="text" class="form-control persian-light" placeholder="جستجوی سوالات" dir="rtl">
            </div>
        </div>
    </div>

    <div class="row row-top-buffer">
        <div class="col-xs-12">
            {% for q in questions %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="/question/{{q.id}}/">
                                    <h4 class="persian">{{ q.title }}</h4>
                                </a>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xs-12">
                                <span class="persian-light">
                                    {{ q.description }} 
                                </span>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xs-6 text-left">
                                {% for tag in q.tags.all %}
                                        <a href="#"><span class="persian-light">#{{tag.name}}</span></a>
                                {% endfor %}
                                {% for field in q.fields.all %}
                                    <a href="#"><span class="persian-light">#{{field.name}}</span></a>
                                {% endfor %}
                            </div>
                            <div class="col-xs-6 text-right" data-toggle="tooltip" title="پاسخ‌ها">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span>{{ q.answer_set.count }}</span>
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span>{{ q.views }}</span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span>{{ q.stars.count }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- TODO serverside code -->
        <!-- NOTE: order is reversed because of rtl -->
        <div class="col-xs-12 text-center">
            <ul class="pagination">
                <li>  <!--NOTE: add disabled class when current page is the last page -->
                    <a href="#">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li><a href="#">۵</a></li>
                <li><a href="#">۴</a></li>
                <li><a href="#">۳</a></li>
                <li><a href="#">۲</a></li>
                <li class="active"><a href="#">۱</a></li>  <!-- NOTE: add active class when this is the current page -->
                <li class="disabled">  <!-- NOTE: add disabled class when current page is the first page -->
                    <a href="#">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
