{% extends "base.html" %}
{% load static %}
{% load forum_extras %}

{% block full-width-image %}
    {% if show_parallex %}
    <div class="parallex text-center">
        <span class="parallex-text persian">شبکه هم‌افزایی نخبگان ایرانی</span>
    </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row row-top-buffer">
        <div class="col-xs-12">
            <form action="{% url 'search' %}" method="get">
                <div class="input-group" dir="ltr"> <!-- changed default dir to get bootstrap's button addons working! -->
                    <span class="input-group-btn" dir="rtl">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <input type="text" name="query" class="form-control persian-light" placeholder="جستجوی سوالات" dir="rtl" value="{{ query }}">
                </div>
            </form>
        </div>
    </div>

    {% if page_desc %}
        <div class="row row-top-buffer">
            <div class="col-xs-12 text-center">
                <h4 class="persian-light">
                    <span class="persian-light">سوالات در مورد</span>
                    <span class="persian">{{ page_desc }}</span>
                </h4>
            </div>
        </div>
    {% endif %}

    <div class="row row-top-buffer">
        <div class="col-xs-12">
            {% for q in questions %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="/question/{{q.id}}/">
                                    <h4 class="persian">{{ q.title }}</h4>
                                </a>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xs-12">
                                <span class="persian-light">
                                    {{ q.truncated_description }}
                                </span>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xs-6 text-left">
                                {% for tag in q.tags.all %}
                                    <a href="{% url 'tags' tag_id=tag.id %}"><span class="persian-light">#{{ tag.name }}</span></a>
                                {% endfor %}
                                {% for field in q.fields.all %}
                                    <a href="{% url 'fields' field_id=field.id %}"><span class="persian-light">#{{ field.get_as_tag }}</span></a>
                                {% endfor %}
                            </div>
                            <div class="col-xs-6 text-right" data-toggle="tooltip" title="پاسخ‌ها">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span>{{ q.answer_set.count }}</span>
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span>{{ q.views }}</span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span>{{ q.stars.count }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="persian-light col-xs-12">
                                 پرسشگر :
                                <a href="{% url 'profile' user_id=q.user.id %}">
                                    {% if q.user.profile.nickname %}
                                    {{ q.user.profile.nickname }}
                                    {% else %}
                                    ناشناس
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- NOTE: order is reversed because of rtl -->
        <div class="col-xs-12 text-center">
            <ul class="pagination">
                {% if questions.has_next %}
                    <li>
                        <a href="?page={{ questions.next_page_number }}{% if query %}&query={{ query }}{% endif %}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a>
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}

                <li class="disabled"><a>{{ questions.number|persian_number }}</a></li>

                {% if questions.has_previous %}
                    <li>
                        <a href="?page={{ questions.previous_page_number }}{% if query %}&query={{ query }}{% endif %}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a>
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}
