{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group" dir="ltr"> <!-- changed default dir to get bootstrap's button addons working! -->
                <span class="input-group-btn" dir="rtl">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <input type="text" class="form-control persian-light" placeholder="جستجوی سوالات" dir="rtl">
            </div>
        </div>
    </div>

    <div class="row row-top-buffer">
        <div class="col-xs-12">
            <div class="panel panel-default">
                {% for q in questions %}
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="/question/{{q.id}}/">
                                    <h4 class="persian">{{ q.title }}</h4>
                                </a>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xs-12">
                                <span class="persian-light">
                                    {{ q.description }} 
                                </span>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xs-9 text-left">
                                <a href="#"><span class="persian-light">#تناوب</span></a>
                                <a href="#"><span class="persian-light">#آونگ</span></a>
                                <a href="#"><span class="persian-light">#فیزیک</span></a>
                            </div>
                            <div class="col-xs-1 text-center">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span>{{ q.answer_count }}</span>
                            </div>
                            <div class="col-xs-1 text-center">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span>{{ q.views }}</span>
                            </div>
                            <div class="col-xs-1 text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span>{{ q.stars }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
