{% extends "base.html" %}
{% load static %}
{% load forum_extras %}

{% block content %}
        <div class="row row-top-buffer">
            <div class="col-xs-12 text-center persian">

                <hr />
                <h1 class="gold">
                    حامیان طلایی
                </h1>

                <img class="sponsor-img" src="{% static "img/sponsors/bordbar.jpg" %}" />
                <div>
                    مهندس جمشید بردبار، دانش آموخته مهندسی برق، دانشگاه صنعتی شریف
                </div>

                <hr />
                <h1 class="silver">
                    حامیان نقره‌ای
                </h1>

                <img class="sponsor-img" src="{% static "img/sponsors/abdolreza_fallah.jpg" %}" />
                <div>
                    مهندس عبدالرضا فلاح، دانش آموخته مهندسی کامپیوتر، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/keshavarz.jpg" %}" />
                <div>
                    مهندس حمید کشاورز، دانش آموخته مهندسی برق، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/sanaei.jpg" %}" />
                <div>
                    دکتر اسماعیل ثنایی، دانش آموخته مهندسی کامپیوتر، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/hajirasoulia.jpg" %}" />
                <div>
                    مهندس امین‌الله حاجی‌رسولیها، دانش‌آموخته مهندسی مکانیک، دانشگاه صنعتی شریف
                </div>

                <hr />
                <h1 class="bronze">
                    حامیان برنزی
                </h1>

                <img class="sponsor-img" src="{% static "img/sponsors/nasrollah_fallah.jpg" %}" />
                <div>
                    مهندس نصرالله محمدحسین فلاح، دانش آموخته مهندسی مواد، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/aghababaei.jpg" %}" />
                <div>
                    مهندس قاسم آقابابایی علویجه، دانش آموخته مهندسی مکانیک، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/sheykholeslami.jpg" %}" />
                <div>
                    دکتر زاهد شیخ‌الاسلامی، دانش آموخته مهندسی مکانیک، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/ghanbari.jpg" %}" />
                <div>
                    مهندس محمدحسین قنبری، دانش آموخته مهندسی برق، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/khaleghi.jpg" %}" />
                <div>
                    مهندس محسن خالقی، دانش آموخته مهندسی برق، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/morshedian.jpg" %}" />
                <div>
                    مهندس احمد مرشدیان، دانش آموخته ریاضی و مهندسی صنایع، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/ahlallahi.jpg" %}" />
                <div>
                    مهندس سنبل اهل‌اللهی، دانش آموخته مهندسی شیمی، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/rezaei.jpg" %}" />
                <div>
                    مهندس مهدی رضایی، دانش آموخته مهندسی مکانیک، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/meratnia.jpg" %}" />
                <div>
                    مهندس احمد مرآت‌نیا، دانش آموخته ریاضی و علوم کامپیوتر، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/nasiri.jpg" %}" />
                <div>
                    مهندس عباس نصیری، دانش آموخته مهندسی برق، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/ardeshirian.jpg" %}" />
                <div>
                    مهندس فیروز اردشیریان، دانش آموخته مهندسی مکانیک، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/attar.jpg" %}" />
                <div>
                    مهندس احمد عطار، دانش آموخته مهندسی برق، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/niasar.jpg" %}" />
                <div>
                    مهندس محمود شریعتی نیاسر، دانش‌آموخته مهندسی مواد، دانشگاه صنعتی شریف
                </div>
                <img class="sponsor-img" src="{% static "img/sponsors/babakhani.jpg" %}">
                <div>
                    دکتر علی باباخانی، دانش‌آموخته علوم ریاضی، دانشگاه صنعتی شریف
                </div>

                <hr />
            </div>
        </div>
        <div class="row row-top-buffer"></div>
{% endblock %}
