{% extends "base.html" %}
{% load static %}
{% load forum_extras %}

{% block content %}
        <div class="row row-top-buffer">
            <div class="col-xs-12 text-center persian">

                <hr />
                <h1 class="gold">
                    حامیان طلایی
                </h1>

                <img src="{% static "img/sponsors/bordbar.jpg" %}" />
                <div>
                    مهندس جمشید بردبار، دانش آموخته مهندسی برق
                </div>

                <hr />
                <h1 class="silver">
                    حامیان نقره‌ای
                </h1>

                <img src="{% static "img/sponsors/abdolreza_fallah.jpg" %}" />
                <div>
                    مهندس عبدالرضا فلاح، دانش آموخته مهندسی کامپیوتر
                </div>
                <img src="{% static "img/sponsors/keshavarz.jpg" %}" />
                <div>
                    مهندس حمید کشاورز، دانش آموخته مهندسی برق
                </div>
                <img src="{% static "img/sponsors/sanaei.jpg" %}" />
                <div>
                    دکتر اسماعیل ثنایی، دانش آموخته مهندسی کامپیوتر
                </div>

                <hr />
                <h1 class="bronze">
                    حامیان برنزی
                </h1>

                <img src="{% static "img/sponsors/nasrollah_fallah.jpg" %}" />
                <div>
                    مهندس نصرالله محمدحسین فلاح، دانش آموخته مهندسی مواد
                </div>
                <img src="{% static "img/sponsors/aghababaei.jpg" %}" />
                <div>
                    مهندس قاسم آقابابایی علویجه، دانش آموخته مهندسی مکانیک
                </div>
                <img src="{% static "img/sponsors/sheykholeslami.jpg" %}" />
                <div>
                    دکتر زاهد شیخ‌الاسلامی، دانش آموخته مهندسی مکانیک
                </div>
                <img src="{% static "img/sponsors/ghanbari.jpg" %}" />
                <div>
                    مهندس محمدحسین قنبری، دانش آموخته مهندسی برق
                </div>
                <img src="{% static "img/sponsors/khaleghi.jpg" %}" />
                <div>
                    مهندس محسن خالقی، دانش آموخته مهندسی برق
                </div>
                <img src="{% static "img/sponsors/morshedian.jpg" %}" />
                <div>
                    مهندس احمد مرشدیان، دانش آموخته ریاضی و مهندسی صنایع
                </div>
                <img src="{% static "img/sponsors/ahlallahi.jpg" %}" />
                <div>
                    مهندس سنبل اهل‌اللهی، دانش آموخته مهندسی شیمی
                </div>
                <img src="{% static "img/sponsors/rezaei.jpg" %}" />
                <div>
                    مهندس مهدی رضایی، دانش آموخته مهندسی مکانیک
                </div>
                <img src="{% static "img/sponsors/meratnia.jpg" %}" />
                <div>
                    مهندس احمد مرآت‌نیا، دانش آموخته ریاضی و علوم کامپیوتر
                </div>
                <img src="{% static "img/sponsors/nasiri.jpg" %}" />
                <div>
                    مهندس عباس نصیری، دانش آموخته مهندسی برق
                </div>

                <hr />
            </div>
        </div>
        <div class="row row-top-buffer"></div>
{% endblock %}
