{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="row row-top-buffer">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% for field in question_form %}
          <div class="form-group">
            {% if field.errors %}
              <ul class="list-unstyled">
                {% for error in field.errors %}
                  <li class="persian text-danger">{{ error|escape }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if field.html_name == 'fields' %}
              <div class="col-xs-10 persian-light text-right">
                <ul class="list-unstyled">
                  {% for checkbox in field %}
                      <li>
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </li>
                  {% endfor %}
                </ul>
              </div>
            {% elif field.html_name == 'tags' %}
            <div class="col-xs-10 persian-light">
              {{ field|add_class:"form-control"|attr:"placeholder:فیزیک_هسته‌ای فیزیک_کوانتوم" }}
            </div>
            {% else %}
            <div class="col-xs-10 persian-light">
              {{ field|add_class:"form-control" }}
            </div>
            {% endif %}

            <div class="col-xs-2 persian">
              {{ field.label_tag }}
            </div>
          </div>
        {% endfor %}
        <div class="form-group">
          <button class="btn btn-default persian-light" type="submit">ارسال سوال</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
