{% extends "base.html" %}
{% load widget_tweaks %}
{% load jdate %}
{% block content %}
<div class="row row-top-buffer">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 text-left">  <!-- TODO serverside code -->
                        <!-- NOTE: when user hasn't accepted/starred, use the question-button-do class and set appropriate title -->
                        <!-- NOTE: when user has accepted/starred, clicking will result in undo, so use the question-button-undo class and set appropriate title -->
                        <h4>
                            {% if question.is_stared %}
                                <a class="question-button-undo" href="{% url 'unstar_question' question_id=question.id %}">
                                    <span class="glyphicon glyphicon-star" data-toggle="tooltip" title="حذف پسندیدن"></span>
                                </a>
                            {% else %}
                                <a class="question-button-do" href="{% url 'star_question' question_id=question.id %}">
                                    <span class="glyphicon glyphicon-star" data-toggle="tooltip" title="پسندیدن"></span>
                                </a>
                            {% endif %}
                        </h4>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h4 class="persian">{{ question.title }}</h4>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-xs-12">
                        <span class="persian-light">
                            {{ question.description|linebreaksbr }}
                        </span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-xs-6 text-left">
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tags' tag_id=tag.id %}"><span class="persian-light">#{{ tag.name }}</span></a>
                        {% endfor %}
                        {% for subject in question.subjects.all %}
                            <a href="{% url 'subjects' subject_id=subject.id %}"><span class="persian-light">#{{ subject.get_as_tag }}</span></a>
                        {% endfor %}
                    </div>
                    <div class="col-xs-6 text-right" data-toggle="tooltip" title="پاسخ‌ها">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span>{{ answers.count }}</span>
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span>{{ question.views }}</span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span>{{ question.stars.count }}</span>
                    </div>
                </div>

                <hr>


                <div class="row">
                    {% if question.user == user %}
                        <div class="persian-light col-xs-3 text-left">
                            <a class="btn btn-default btn-sm" href="{% url 'edit_question' question_id=question.id %}">
                                ویرایش
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn btn-default btn-sm" href="{% url 'remove_question' question_id=question.id %}">
                                حذف
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                        <div class="persian-light col-xs-9">
                            پرسشگر:
                            <a href="{% url 'profile' user_id=question.user.id %}">
                                {% if question.user.profile.name %}
                                {{ question.user.profile.name }}
                                {% else %}
                                ناشناس
                                {% endif %}
                            </a>
                            <img src="{{MEDIA_URL}}{{question.user.profile.get_avatar_40x40}}" height="40" width="40">
                            تاریخ: {{ question.upload_time|jdate }}
                        </div>
                    {% else %}
                        <div class="persian-light col-xs-12">
                            پرسشگر:
                            <a href="{% url 'profile' user_id=question.user.id %}">
                                {% if question.user.profile.name %}
                                {{ question.user.profile.name }}
                                {% else %}
                                ناشناس
                                {% endif %}
                            </a>
                            <img src="{{MEDIA_URL}}{{question.user.profile.get_avatar_40x40}}" height="40" width="40">
                            تاریخ: {{ question.upload_time|jdate }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% for answer in answers %}
<div class="row">
    <div class="col-xs-11">
        <div class="panel {% if answer.accepted %}panel-success{% else %}panel-default{% endif %}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        {% if question.user == user %}
                            {% if not answer.accepted %}
                                <a class="question-button-do" href="{% url 'accept_answer' answer_id=answer.id %}">
                                    <span class="glyphicon glyphicon-ok" data-toggle="tooltip" title="انتخاب به عنوان پاسخ نهایی"></span>
                                </a>
                            {% else %}
                                <a class="question-button-undo" href="{% url 'reject_answer' answer_id=answer.id %}">
                                    <span class="glyphicon glyphicon-ok" data-toggle="tooltip" title="حذف به عنوان پاسخ نهایی"></span>
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if answer.is_stared %}
                            <a class="question-button-undo" href="{% url 'unstar_answer' answer_id=answer.id %}">
                                <span class="glyphicon glyphicon-star" data-toggle="tooltip" title="حذف پسندیدن"></span>
                            </a>
                        {% else %}
                            <a class="question-button-do" href="{% url 'star_answer' answer_id=answer.id %}">
                                <span class="glyphicon glyphicon-star" data-toggle="tooltip" title="پسندیدن"></span>
                            </a>
                        {% endif %}

                    </div>
                    <div class="col-xs-6 text-right">
                        {% if answer.accepted %}
                        <span class="glyphicon glyphicon-ok"></span>
                        پاسخ نهایی
                        {% else %}
                        <span class="glyphicon glyphicon-comment"></span>
                        پاسخ
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="persian-light">
                            {{ answer.description|linebreaksbr }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    {% if answer.user == user %}
                        <div class="persian-light col-xs-3 text-left">
                            <a class="btn btn-default btn-sm" href="{% url 'edit_answer' answer_id=answer.id %}">
                                ویرایش
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn btn-default btn-sm" href="{% url 'remove_answer' answer_id=answer.id question_id=question.id %}">
                                حذف
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                        <div class="persian-light col-xs-9">
                            پاسخ‌دهنده:
                            <a href="{% url 'profile' user_id=answer.user.id %}">
                                {% if answer.user.profile.name %}
                                {{ answer.user.profile.name }}
                                {% else %}
                                ناشناس
                                {% endif %}
                            </a>
                            <img src="{{MEDIA_URL}}{{answer.user.profile.get_avatar_40x40}}" height="40" width="40">
                            تاریخ: {{ question.upload_time|jdate }}
                        </div>
                    {% else %}
                        <div class="persian-light col-xs-12">
                            پاسخ‌دهنده:
                            <a href="{% url 'profile' user_id=answer.user.id %}">
                                {% if answer.user.profile.name %}
                                {{ answer.user.profile.name }}
                                {% else %}
                                ناشناس
                                {% endif %}
                            </a>
                            <img src="{{MEDIA_URL}}{{answer.user.profile.get_avatar_40x40}}" height="40" width="40">
                            تاریخ: {{ question.upload_time|jdate }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>  <!-- because offset isn't rtl -->
</div>
{% endfor %}

<div class="row">
    <div class="col-xs-11">
    {% if user.is_authenticated %}
        <form class="form-horizontal" method="post" action="{% url 'new_answer' question_id=question.id %}">
            {% csrf_token %}
            {% for field in answer_form %}
                <div class="form-group">
                {% if field.errors %}
                  <ul class="list-unstyled">
                    {% for error in field.errors %}
                      <li class="persian text-danger">{{ error|escape }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <div class="col-xs-10 persian-light">
                  {{ field|add_class:"form-control" }}
                </div>
                <div class="col-xs-2 persian">
                  {{ field.label_tag }}
                </div>
              </div>
            {% endfor %}
            <div class="col-xs-10 persian-light">
                <div class="form-group">
                    <button class="btn btn-default persian-light" type="submit">ارسال پاسخ</button>
                </div>
            </div>
            <div class="col-xs-2"></div>  <!-- because offset isn't rtl -->
        </form>
    {% else %}
        <a class="btn btn-default persian-light" href="/accounts/login/?next=/question/{{ question.id }}/">برای ارسال پاسخ لطفا وارد شوید</a>
    {% endif %}
    </div>
    <div class="col-xs-1"></div>  <!-- because offset isn't rtl -->
</div>
{% endblock %}
