{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="row row-top-buffer">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="persian">{{ question.title }}</h4>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-xs-12">
                        <span class="persian-light">
                            {{ question.description }}
                        </span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-xs-9 text-left">
                        <a href="#"><span class="persian-light">#تناوب</span></a>
                        <a href="#"><span class="persian-light">#آونگ</span></a>
                        <a href="#"><span class="persian-light">#فیزیک</span></a>
                    </div>
                    <div class="col-xs-1 text-center">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span>{{ question.answer_count }}</span>
                    </div>
                    <div class="col-xs-1 text-center">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span>{{ question.views }}</span>
                    </div>
                    <div class="col-xs-1 text-center">
                        <span class="glyphicon glyphicon-star"></span>
                        <span>{{ question.stars }}</span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    {% if question.user == user %}
                        <div class="persian-light col-xs-1">
                            <a href="{% url 'edit_question' question_id=question.id %}">ویرایش</a>
                        </div>
                        <div class="persian-light col-xs-11">
                            پرسشگر : {{ question.user.profile.name }}
                        </div>
                    {% else %}
                        <div class="persian-light col-xs-12">
                            پرسشگر : {{ question.user.profile.name }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO remove -->
<div class="row">
    <div class="col-xs-11">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="persian-light">
                            {{ question.description }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="persian-light">
                    پاسخ‌دهنده : {{ question.user.profile.name }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>  <!-- because offset isn't rtl -->
</div>

<!-- TODO remove -->
<div class="row">
    <div class="col-xs-11">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <span>gholam</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="persian-light">
                            {{ question.description }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="persian-light">
                    پاسخ‌دهنده : {{ question.user.profile.name }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>  <!-- because offset isn't rtl -->
</div>

{% for answer in answers %}
<div class="row">
    <div class="col-xs-11">
        <div class="panel {% if answer.accepted %}panel-success{% else %}panel-default{% endif %}">
            <div class="panel-heading">
                {% if answer.accepted %}
                <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                <span class="glyphicon glyphicon-comment"></span>
                {% endif %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="persian-light">
                            {{ answer.description }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    {% if answer.user == user %}
                        <div class="persian-light col-xs-1">
                            <a href="{% url 'edit_answer' answer_id=answer.id %}">ویرایش</a>
                        </div>
                        <div class="persian-light col-xs-11">
                            پاسخ‌دهنده : {{ answer.user.profile.name }}
                        </div>
                    {% else %}
                        <div class="persian-light col-xs-12">
                            پاسخ‌دهنده : {{ answer.user.profile.name }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>  <!-- because offset isn't rtl -->
</div>
{% endfor %}
{% if user.is_authenticated %}
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% for field in answer_form %}
            <div class="form-group">
            {% if field.errors %}
              <ul>
                {% for error in field.errors %}
                  <li class="persian text-danger">{{ error|escape }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="col-xs-10 persian-light">
              {{ field|add_class:"form-control" }}
            </div>
            <div class="col-xs-2 persian">
              {{ field.label_tag }}
            </div>
          </div>
        {% endfor %}
        <div class="form-group">
            <button class="btn btn-default persian-light" type="submit">ارسال پاسخ</button>
        </div>
    </form>
{% else %}
    <a class="btn btn-default persian-light" href="/accounts/login/?next=/question/{{ question.id }}/">برای ارسال پاسخ لطفا وارد شوید</a>
{% endif %}
{% endblock %}
